# Exploratory Data Analysis

**List of datasets**

* 자동차 요일제 참여 현황 가구주 19세 이상 인구
* 현재 체감환경 대기 13세 이상 인구
* 환경문제에 대한 인식 기후변화 13세 이상 인구
* 환경오염 방지 노력 대중교통 이용하기 13세 이상 인구
* 환경오염 방지 노력 친환경제품 구입/사용하기 13세 이상 인구
* 환경문제에 대한 인식 미세먼지 유입 13세 이상 인구

## Data Cleaning

In [3]:
#import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!pip install geopandas
import geopandas as gpd
!pip install altair vega_datasets
import altair as alt
!pip install jenkspy
import jenkspy

Requirement already satisfied: geopandas in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (0.12.1)
Requirement already satisfied: pandas>=1.0.0 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.2.4)
Requirement already satisfied: fiona>=1.8 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.8.22)
Requirement already satisfied: shapely>=1.7 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: pyproj>=2.6.1.post1 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (3.4.0)
Requirement already satisfied: packaging in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (20.9)
Requirement already satisfied: cligj>=0.5 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: certifi in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: click>=4.0 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: click-plugins>=1.0 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: munch in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: six>=1.7 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (52.0.0.post20210125)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.0->geopandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.0->geopandas) (1.20.1)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from packaging->geopandas) (2.4.7)
Requirement already satisfied: altair in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (4.2.0)
Requirement already satisfied: vega_datasets in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: jinja2 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from altair) (2.11.3)
Requirement already satisfied: numpy in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from altair) (1.20.1)
Requirement already satisfied: pandas>=0.18 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from altair) (1.2.4)
Requirement already satisfied: entrypoints in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from altair) (0.3)
Requirement already satisfied: jsonschema>=3.0 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from altair) (3.2.0)
Requirement already satisfied: toolz in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from altair) (0.11.1)
Requirement already satisfied: setuptools in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (52.0.0.post20210125)
Requirement already satisfied: six>=1.11.0 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (1.15.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (20.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (0.17.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.18->altair) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.18->altair) (2021.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: jenkspy in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (0.3.1)
Requirement already satisfied: numpy in /Users/2hyunie/opt/anaconda3/lib/python3.8/site-packages (from jenkspy) (1.20.1)

In [19]:
# import files
alt_driv = pd.read_csv('/Users/2hyunie/Documents/qmss_thesis/Datasets/translated/alternate_driv.csv')
aware_air = pd.read_csv('/Users/2hyunie/Documents/qmss_thesis/Datasets/translated/env_aware_airpol.csv')
aware_cc = pd.read_csv('/Users/2hyunie/Documents/qmss_thesis/Datasets/translated/env_aware_cc.csv')
eff_cons = pd.read_csv('/Users/2hyunie/Documents/qmss_thesis/Datasets/translated/env_eff_cons.csv')
eff_trans = pd.read_csv('/Users/2hyunie/Documents/qmss_thesis/Datasets/translated/env_eff_pubtrans.csv')
exp_air = pd.read_csv('/Users/2hyunie/Documents/qmss_thesis/Datasets/translated/env_exp_air.csv')

In [20]:
alt_driv.head()

   year category1 category2     1     2
0  2016     total     total  16.4  83.6
1  2016      geog     urban  17.6  82.4
2  2016      geog     rural  10.9  89.1
3  2016    gender      male  16.8  83.2
4  2016    gender    female  14.0  86.0

In [48]:
alt_driv['category1']

0       total
1        geog
2        geog
3      gender
4      gender
        ...
184     agend
185     agend
186     agend
187     agend
188     agend
Name: category1, Length: 189, dtype: object

In [42]:
drivtot = alt_driv[alt_driv['category1']=='total']
drivtot = drivtot.iloc[:,[0,3,4]]
drivtot

     year     1     2
0    2016  16.4  83.6
63   2018  15.8  84.2
126  2020  25.1  74.9

In [54]:
drivgen = alt_driv[alt_driv['category1']=='gender']
drivgen.iloc[:,[0,2,3,4]].transpose()

            3       4     66      67    129     130
year       2016    2016  2018    2018  2020    2020
category2  male  female  male  female  male  female
1          16.8    14.0  15.4    18.3  25.4    23.7
2          83.2    86.0  84.6    81.7  74.6    76.3

In [55]:
aware_cc.head()

   year category1 category2    1    2     3     4     5
0  2008     total     total  0.5    7  26.9  52.7  12.8
1  2008      geog     urban  0.5    7  26.8  52.8  12.9
2  2008      geog     rural  0.7    7  27.5  52.5  12.3
3  2008    gender      male  0.6  7.1  27.5  52.2  12.6
4  2008    gender    female  0.4  6.9  26.3  53.2  13.1

## Preliminary Data Analysis

## Spatial Analysis