# Exploratory Data Analysis

In [36]:
# import libraries
import os
import sys
import urllib.request
import json
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Naver API news

In [55]:
client_id = "sPoIaxsqZqCViA3jWiOG"
client_secret = "zb_x9LGf4b"

In [54]:
encText = urllib.parse.quote("전기차 보조금") # search term
display = 15
sort = "date"

url = "https://openapi.naver.com/v1/search/news?query=" + encText \
    + "&display=" + str(display) \
    + "&sort=" + sort

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    json_str = response_body.decode('utf-8')
else:
    print("Error Code:" + rescode)
    
json_object = json.loads(json_str) # to json
df = pd.DataFrame(json_object['items']) # to dataframe
df

,title,originallink,link,description,pubDate
0,"[아주경제 오늘의 뉴스 종합] 북한, 서해상으로 SRBM 4발 발사...연이은 미사...",https://www.ajunews.com/view/20221105215923281,https://www.ajunews.com/view/20221105215923281,"<b>전기차 보조금</b>, 출고적체에 남아돈다…&quot;정책적 목표 재설정해야&...","Sat, 05 Nov 2022 22:06:00 +0900"
1,"선거 앞둔 바이든, 머스크 공개 저격 &quot;거짓말 수단 사들여&quot;",http://www.fnnews.com/news/202211051656219287,https://n.news.naver.com/mnews/article/014/000...,테슬라의 무노조 경영을 고집하고 있는 머스크는 노조가 있는 기업의 <b>전기차</b...,"Sat, 05 Nov 2022 17:09:00 +0900"
2,日도 美에 IRA 완화 의견서 보냈다…&quot;日 자동차 기업에 불리&quot;,https://www.dailian.co.kr/news/view/1170066/?s...,https://n.news.naver.com/mnews/article/119/000...,또 미국 소비자가 <b>전기차</b>를 구매할 때 선택의 폭이 좁아질 수 있다는 점...,"Sat, 05 Nov 2022 16:21:00 +0900"
3,"일본 정부, 미국에 IRA &apos;<b>전기차</b> 혜택 완화 요청&apos;...",https://imnews.imbc.com/news/2022/world/articl...,https://n.news.naver.com/mnews/article/214/000...,또 미국 소비자가 <b>전기차</b>를 구매할 때 선택의 폭이 좁아질 수 있다는 점...,"Sat, 05 Nov 2022 15:39:00 +0900"
4,"&quot;美 <b>전기차 보조금</b> 차별, 문제있다&quot;…韓 이어 日도 ...",http://news.mt.co.kr/mtview.php?no=20221105151...,https://n.news.naver.com/mnews/article/008/000...,한국과 일본 뿐 아니라 유럽연합(EU)도 미국 측에 이미 수차례 <b>전기차 보조금...,"Sat, 05 Nov 2022 15:32:00 +0900"
5,日정부도 美재무부에 &apos;<b>전기차</b> 혜택 완화&apos; 의견서 제출,https://www.ebn.co.kr/news/view/1553628/?sc=Naver,https://www.ebn.co.kr/news/view/1553628/?sc=Naver,또 미국 소비자가 <b>전기차</b>를 구매할 때 선택의 폭이 좁아질 수 있다는 점...,"Sat, 05 Nov 2022 15:18:00 +0900"
6,"日, 美에 IRA &apos;<b>전기차</b> 혜택 완화 요청&apos; 의견서 제출",https://biz.sbs.co.kr/article_hub/20000087947?...,https://n.news.naver.com/mnews/article/374/000...,또 미국 소비자가 <b>전기차</b>를 구매할 때 선택의 폭이 좁아질 수 있다는 점...,"Sat, 05 Nov 2022 14:48:00 +0900"
7,"일 정부, 미국에 IRA &apos;<b>전기차</b> 혜택 완화 요청&apos; ...",https://news.sbs.co.kr/news/endPage.do?news_id...,https://n.news.naver.com/mnews/article/055/000...,또 미국 소비자가 <b>전기차</b>를 구매할 때 선택의 폭이 좁아질 수 있다는 점...,"Sat, 05 Nov 2022 14:45:00 +0900"
8,"日정부, 美에 IRA &apos;<b>전기차</b> 혜택 완화 요청&apos; 의견...",https://www.yna.co.kr/view/AKR2022110503620007...,https://n.news.naver.com/mnews/article/001/001...,또 미국 소비자가 <b>전기차</b>를 구매할 때 선택의 폭이 좁아질 수 있다는 점...,"Sat, 05 Nov 2022 14:34:00 +0900"
9,"日 &quot;美, 북미산 <b>전기차</b> 세제혜택…향후 日기업 투자 방해&qu...",https://www.news1.kr/articles/4855066,https://n.news.naver.com/mnews/article/421/000...,보도에 따르면 일본 정부는 이날 미 재무부에 제출한 서한을 통해 북미에서 생산된 <...,"Sat, 05 Nov 2022 14:04:00 +0900"
10,[Market Watch]미국 물가 이제는 잡힐까…&apos;5연속 자이언트 스텝’...,https://www.chosun.com/economy/stock-finance/2...,https://n.news.naver.com/mnews/article/023/000...,IRA법은 미국 국내에서 생산된 <b>전기차</b>에 <b>보조금</b>을 주는 내...,"Sat, 05 Nov 2022 14:01:00 +0900"
11,북미에선 현대차 웃돈 줘야 살 수 있다…고급차 전략 성공적,https://www.hani.co.kr/arti/economy/economy_ge...,https://n.news.naver.com/mnews/article/028/000...,미국은 자국 중심 공급망을 강화하고 <b>전기차</b> 산업을 확대하기 위해 북미에...,"Sat, 05 Nov 2022 13:03:00 +0900"
12,COP27 정상회의: 올해 각국의 &apos;기후 행동&apos; 합의 얼마나 이뤄졌나?,https://www.bbc.com/korean/63524385?xtor=AL-73...,https://www.bbc.com/korean/63524385?xtor=AL-73...,"해당 법안은 기존의 화석연료 대신 녹색에너지를 기본으로 한 전기, 교통, 산업 등을...","Sat, 05 Nov 2022 12:27:00 +0900"
13,[프리미엄 <b>전기차</b> 시대 ①] 테슬라·포르쉐·제네시스 선전했다,https://www.econovill.com/news/articleView.htm...,https://www.econovill.com/news/articleView.htm...,<b>보조금</b>을 아예 받지 않는 <b>전기차</b>라는 단점을 갖고 있어도 눈...,"Sat, 05 Nov 2022 10:02:00 +0900"
14,[뒷북경제]충전완료한 ?K배터리.. ‘제2의 반도체 신화’ 가능할까,https://www.sedaily.com/NewsView/26DIAFFX4U,https://n.news.naver.com/mnews/article/011/000...,중국 CATL이 자국 <b>보조금</b>을 기반으로 배터리 물량공세에 나설 경우 비...,"Sat, 05 Nov 2022 10:01:00 +0900"

In [52]:
client_id = "sPoIaxsqZqCViA3jWiOG"
client_secret = "zb_x9LGf4b"

query = urllib.parse.quote("전기차 보조금") # search term
start = 1
end = 1000
sort = "sim"

news_df = pd.DataFrame(columns=("title", "originallink", "description", "pubDate"))

for start_index in range(start, end, display):
    
    url = "https://openapi.naver.com/v1/search/news?query=" + query \
    + "&display=" + str(display) \
    + "&start=" + str(start_index) \
    + "&sort=" + sort

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    response_dict = json.loads(response_body.decode('utf-8'))
    items = response_dict['items']
    for item_index in range(0, len(items)):
        remove_tag = re.compile('<.*?>')
        title = re.sub(remove_tag, '', items[item_index]['title'])
        link = items[item_index]['originallink']
        description = re.sub(remove_tag, '', items[items_index]['description'])
        pubDate = items[item_index]['pubDate']
        news_df.loc[idx] = [title, link, description, pubDate]
        idx += 1
else:
    print("Error Code:" + rescode)

news_df

NameError: name 'items_index' is not defined

In [75]:
url = "https://openapi.naver.com/v1/datalab/search";
body = "{\
        \"startDate\":\"2018-01-01\",\
        \"endDate\":\"2022-10-31\",\
        \"timeUnit\":\"date\",\
        \"keywordGroups\":[{\"groupName\":\"전기차\",\"keywords\":[\"전기차\",\"전기차 보조금\"]},\
                            ],\
        \"device\":\"mo\",\
        \"ages\":[\"4\",\"5\"],\
        \"gender\":[\"m\",\"f\"]\
        }";

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    response_data = response_body.decode('utf-8')
else:
    print("Error Code:" + rescode)

HTTPError: HTTP Error 400: Bad Request

## 2. Covid-19 Data

link: https://115.84.165.39/dataList/OA-20461/S/1/datasetView.do

In [82]:
# retrieving data

covid = pd.read_csv("/Users/2hyunie/Documents/qmss_thesis/Datasets/raw/covid_data.csv")

In [77]:
covid.head()

,����� ������,����� Ȯ����,����� �߰� Ȯ��,����� ġ����,����� ���,����� �߰� ���,����� ���.1,����� �ǽ�ȯ�� ��ü,����� �ǽ�ȯ�� �˻���,����� �ǽ�ȯ�� �˻���(����),...,���� �ǽ�ȯ�� ��ü,���� �ǽ�ȯ�� �˻���,���� �ǽ�ȯ�� �˻���(����),�ڰ��ݸ��� �ؿ��Ա��� ������,�ڰ��ݸ��� �ؿ��Ա��� ��������,�ڰ��ݸ��� ������ ������,�ڰ��ݸ��� ������ ��������,Ȯ���� Ȯ����,����� ���ϻ����,���� ���� �����
0,2022.11.01.00,5003593,13017,0,NaN,NaN,5608,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.0,33.0
1,2022.10.31.00,4990582,3099,0,NaN,NaN,5603,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.0,18.0
2,2022.10.30.00,4987483,6708,0,NaN,NaN,5598,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,27.0
3,2022.10.29.00,4980775,7578,0,NaN,NaN,5597,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,31.0
4,2022.10.28.00,4973197,7480,0,NaN,NaN,5594,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4.0,31.0

In [84]:
# selecting necessary columns

covid = covid.iloc[:, [0,1,2,6,11,12,15]]

In [79]:
covid.head()

,����� ������,����� Ȯ����,����� �߰� Ȯ��,����� ���.1,���� Ȯ��,���� �߰� Ȯ��,���� ���.1
0,2022.11.01.00,5003593,13017,5608,25615667.0,58379,29209
1,2022.10.31.00,4990582,3099,5603,25557309.0,18510,29176
2,2022.10.30.00,4987483,6708,5598,25538799.0,34511,29158
3,2022.10.29.00,4980775,7578,5597,25504288.0,37321,29131
4,2022.10.28.00,4973197,7480,5594,25466992.0,35924,29100

In [85]:
# changing column names

covid.columns = ['date', 'seoul_pat', 'seoul_new', 'seoul_death', 'nat_pat', 'nat_new', 'nat_death']

In [81]:
covid.head()

,date,seoul_pat,seoul_new,seoul_death,nat_pat,nat_new,nat_death
0,2022.11.01.00,5003593,13017,5608,25615667.0,58379,29209
1,2022.10.31.00,4990582,3099,5603,25557309.0,18510,29176
2,2022.10.30.00,4987483,6708,5598,25538799.0,34511,29158
3,2022.10.29.00,4980775,7578,5597,25504288.0,37321,29131
4,2022.10.28.00,4973197,7480,5594,25466992.0,35924,29100

In [89]:
covid.dtypes

date            object
seoul_pat        int64
seoul_new        int64
seoul_death      int64
nat_pat        float64
nat_new          int64
nat_death        int64
dtype: object

In [90]:
covid['date'] = pd.to_datetime(covid['date'])